<% include header %>

		<div class="topbalk">
		  <a href="/">Home</a>
		  <a href="/">Photos</a>
		  <a href="/">Exhibitions</a>
		  <a href="/">Art</a>
			<a href="/">Contact</a>

		</div>

		<nav>
			Filter:
		  <% for (var i = 0; i < categorieen.length; i++) { %>
		<a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
		  <% } %>
		</nav>


<br/>

<form action="/zoeken" method="get">
	<input type="text" name="titel" placeholder="Search...">
	<input type="submit" value="Submit">
</form>

		  <% var teller = 1; %>
		  <% museum.forEach(function(item){ %>
		    <section>
					<h4>
						<a href=/items/<%- item.id %>><%- item.titel %></a>
					</h4>
					<p class="title">
						<% for (var j = 0; j < item.periodes.length-1; j++) { %>
			        <a class="auteursvakje" href="/periodes/<%- item.periodes[1] %>"><%- item.periodes[0] %></a><% if (j+1< item.periodes.length){ %> <% } %>
			      <% } %>
				</p>
						<a href=/items/<%- item.id %>><img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>"></a>
						<h5><%- item.samenvatting %> <a href=/items/<%- item.id %>>READ MORE</a></h5>
						<br/>
		    </section>
		    <% teller++;}); %>


		<% include footer %>
