<a href="/"><% include header %></a>

		<div class="topbalk">
			<a href="/">Home</a>
		 <a href="/">Photos</a>
		 <a href="/">Exhibitions</a>
		 <a href="/">Art</a>
		 <a href="/">Contact</a>

		</div>

    <br/>

<h1><a href="/">&larr; Return to homepage</a></h1>
<section>

    <h2>
      <%- item.titel %>
    </h2>
		<p>
			<% for (var i = 0; i < item.periodes.length; i++) { %>
				<a class="auteursvakje" href="/periodes/<%- i %>"><%- item.periodes[i] %></a><% if (i+1< item.periodes.length){ %> <% } %>
			<% } %>

			<% for (var i = 0; i < item.uitvoerders.length; i++) { %>
				<a class="auteursvakje" href="/uitvoerders/<%- i %>"><%- item.uitvoerders[i] %></a><% if (i+1< item.uitvoerders.length){ %> <% } %>
			<% } %>
		</p>

    <img src="/img/<%- item.afbeeldingl %>" alt="<%- item.titel %>">

    <p><%- item.datum %></p>

    <p>
      <%- item.body %>
    </p>

<img src="/img/<%- item.afbeeldingextra %>" alt="<%- item.titel %>">

    <p>Category:
			<!-- om op een categorie te klikken die onderaan een artikel staat, werk je op deze manier. Ik heb een extra ID toegevoegd bij elke categorie! We beginnen te tellen vanaf 0 !! -->
      <% for (var i = 0; i < item.categorieen.length-1; i++) { %>
        <a class="categorieenvakjes" href="/categorieen/<%- item.categorieen[1] %>"><%- item.categorieen[0] %></a><% if (i+1< item.categorieen.length){ %> <% } %>
      <% } %>

    </p>

    <p>Related tags:

      <% for (var x = 0; x < item.tags.length; x++) { %>
        <a class="categorieenvakjes" href="/tags/<%- x %>"><%- item.tags[x] %></a><% if (x+1< item.tags.length){ %> <% } %>
      <% } %>
    </p>

		<div id="disqus_thread"></div>
	<script>

	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	/*
	var disqus_config = function () {
	this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	*/
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://https-infinite-earth-68412-herokuapp-com-items-212.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</section>

<% include footer %>
